{{cliente | json}}
<div class="container">
    <div class="card bg-dark text-white">

        <div class="card-body">
            <h5 class="card-title dettaglio">Dettaglio cliente</h5>
            <h3 class="card-title">{{cliente.nomeContatto + ' ' + cliente.cognomeContatto}}</h3>
            <h5 class="card-title">PEC: {{cliente.pec}}</h5>
            <h5 class="card-title">Telefono: {{cliente.telefono}}</h5>
            <h5 class="card-title">Email: {{cliente.emailContatto}}</h5>
        </div>
    </div>
</div>