<div class="container">
    <table class="table table-dark table-striped mt-5 rounded">
    <thead>
        <tr>
          <th scope="col" class="text-white">#</th>
          <th scope="col">Ragione Sociale</th>
          <th scope="col">Partita IVA</th>
          <th scope="col">Tipo Cliente</th>
          <th scope="col">Email</th>
          <th colspan="2" scope="col">Azioni</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of clienti; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.ragioneSociale}}</td>
          <td>{{item.partitaIva}}</td>
          <td>{{item.tipoCliente}}</td>
          <td>{{item.email}}</td>
          <td>
            <button type ="button" class="btn btn-secondary btn-sm info" (click)="detail(i+1)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
              <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
            </svg></button>
          </td>
          <td>
            <button type ="button" class="btn btn-secondary btn-sm p-1 px-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg></button>
          </td>
        </tr>
        
      </tbody>
    </table>
</div>
